@media only screen and (max-width: 480px) {
  #services {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 365px);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: 100%;
  }

  .service-card {
    background-color: #83e49d52;
    width: 340px;
    height: 400px;
    margin-bottom: 2vh;
    border-radius: 15px;
    box-shadow: rgb(189, 187, 187) 0px 0px 8px 0px;
  }

  .service-card:hover {
    transform: scale(1.05);
  }
  
  #service-title-h1 {
    text-align: center;
    margin: 0.5ch;
    margin-left: 2ch ;
    margin-bottom: 1.5ch;
    font-size: 42px;
    font-weight: 900;
  }
  
  .service-icon {
    width: 23%;
  }
  .service-icon:hover {
    transform: scale(1.05);
  }

  .service-div {
    padding: 2%;
    
  }

  .service-content-div h2 {
    font-size: 20px;
    font-weight: 700;
  }

  .service-content-div  p {
    font-size: 6.5px;
    text-align: justify;
    margin-bottom: 0.3%;
    padding-left: 1%;
    padding-right: 2%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  #services h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin: 0.5ch;
    
  }

  .service-icon {
    border: 25px solid white;
    
    border-radius: 40px;
    background-color: #9fe2b1;
    padding: 1ch;
  }
  .service-icon:hover {
    transform: scale(1.2);
  }

  .service-div {
    position: relative;
    background-color: #9fe2b1;
    border: 20px solid white;
    border-radius: 20px;
    padding: 1ch;
    height: 20dvh;
    text-align: center;
  }

  .service-div h2 {
    position: absolute;
    font-size: 22px;
    text-align: left;
    top: 50%;
    width: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  #services h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin: 0.5ch;
    
  }

  .service-icon {
    border: 25px solid white;
    
    border-radius: 40px;
    background-color: #9fe2b1;
    padding: 1ch;
  }
  .service-icon:hover {
    transform: scale(1.2);
  }

  .service-div {
    position: relative;
    background-color: #9fe2b1;
    border: 20px solid white;
    border-radius: 30px;
    padding: 1ch;
    height: 20dvh;
    text-align: center;
  }

  .service-div h2 {
    position: absolute;
    font-size: 24px;
    text-align: left;
    top: 50%;
    width: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
  }
}

@media only screen and (min-width: 1201px) {

  #service-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #services {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 312px);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: 100%;
    row-gap: 2vh;
  }

  .service-card {
    position: relative;
    background-color: #00c760a1;
    width: 295px;
    height: 340px;
    border-radius: 15px;
    padding: 3px;
    box-shadow: rgb(189, 187, 187) 1px 1px 5px 0px;
  }

  .service-card:hover {
    transform: translate(-3px, -2px);
    box-shadow: rgb(189, 187, 187) 6px 6px 5px 0px;
  }
  
  #service-title-h1 {
    text-align: center;
    margin: 0.5ch;
    margin-left: 2ch ;
    margin-bottom: 1.5ch;
    font-size: 45px;
    font-weight: 600;
  }
  
  .service-icon {
    width: 25%;
    margin: 3px;
  }

  .service-div {
    padding: 2%;
  }

  .service-content-map-div {
    position: absolute;
    top:50%;
    /* left: 50%; */
    transform: translate(1%, -38%);
    padding: 5px 10px 10px 10px;
  }

  .service-content-div h2 {
    justify-content: center;
    align-content: center;
    font-size: 21px;
    font-weight: 600;
    line-height: 1.2;
    padding-bottom: 15px;
    
  }

  .service-content-div p {
    font-size: 16.3px;
    text-align: justify;
    margin-bottom: 0.3%;
    padding-left: 1%;
    padding-right: 2%;
  }

  .service-content-div h2 {
    margin-bottom: 1%;
  }

  .service-content-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}