@media only screen and (max-width: 480px) {
  #services h1 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: 0.5ch;
    
  }

  .service-icon {
    border: 10px solid white;
    border-bottom: 2px solid white;
    border-radius: 25px;
    background-color: #9fe2b1;
    padding: 1ch;
  }
  .service-icon:hover {
    transform: scale(1.2);
  }

  .service-div {
    position: relative;
    background-color: #9fe2b1;
    border: 15px solid white;
    border-radius: 20px;
    padding: 1ch;
    height: 20dvh;
    text-align: center;
  }

  .service-div h2 {
    position: absolute;
    font-size: 14px;
    text-align: left;
    top: 50%;
    width: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  #services h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin: 0.5ch;
    
  }

  .service-icon {
    border: 25px solid white;
    
    border-radius: 40px;
    background-color: #9fe2b1;
    padding: 1ch;
  }
  .service-icon:hover {
    transform: scale(1.2);
  }

  .service-div {
    position: relative;
    background-color: #9fe2b1;
    border: 20px solid white;
    border-radius: 20px;
    padding: 1ch;
    height: 20dvh;
    text-align: center;
  }

  .service-div h2 {
    position: absolute;
    font-size: 22px;
    text-align: left;
    top: 50%;
    width: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  #services h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin: 0.5ch;
    
  }

  .service-icon {
    border: 25px solid white;
    
    border-radius: 40px;
    background-color: #9fe2b1;
    padding: 1ch;
  }
  .service-icon:hover {
    transform: scale(1.2);
  }

  .service-div {
    position: relative;
    background-color: #9fe2b1;
    border: 20px solid white;
    border-radius: 30px;
    padding: 1ch;
    height: 20dvh;
    text-align: center;
  }

  .service-div h2 {
    position: absolute;
    font-size: 24px;
    text-align: left;
    top: 50%;
    width: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
  }
}

@media only screen and (min-width: 1201px) {
  #services {
    display: flex;
    flex-direction: column;
    background-color: #83e49d52;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 100vh;
  }
  
  #services h1 {
    text-align: center;
    margin: 0.5ch;
    margin-left: 2ch ;
    margin-bottom: 1.5ch;
    font-size: 42px;
    font-weight: 900;
  }
  
  .service-icon {
    border-bottom: 2px solid rgb(212, 212, 212);
    margin: 2%;
    border-radius: 15px;
    background-color: #42c666;
    border: 2px solid #fe6a4cc5;
    padding: 1ch;
  }
  .service-icon:hover {
    transform: scale(1.05);
  }

  .service-div {
    padding: 2%;
    
  }

  .service-div h2 {
    font-size: 38px;
    font-weight: 700;
  }

  .service-div p {
    font-size: 20.5px;
    text-align: justify;
    margin-bottom: 0.3%;
    padding-left: 1%;
    padding-right: 2%;
  }

  .service-content-div h2 {
    margin-bottom: 1%;
  }

  .service-content-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}