:root {
  --logo-orange: #f1694d;
  --logo-green: #42c666;
  --logo-graphite: #505050;
}


@media only screen and (max-width: 480px) {
  .maps-image {
    
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    
  }
}


@media only screen and (min-width: 481px) and (max-width: 768px) {
  .footer-image {
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 515px;
    
  }
}


@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .footer-image {
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 525px;
    
  }

  .maps-image {
    
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(-47px);
    height: 2px;
  }
}

@media only screen and (min-width: 1201px) {
  .footer-image {
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 525px;
    
  }
}


.clients {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 10%;
  margin-right: 10%;
}


