/** HEADER STYLING **/
#header {
  position: fixed;
  top:0;
  display: flex;
  height: 10vh;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  z-index: 10;
}
/* 
#header-links {

} */

/** CAROUSEL STYLING **/
.carousel img {
  height: auto;
  max-width: 100%;
}

@media (max-width: 639px) {
  .carousel img {
    max-height: 1200px;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .carousel img {
    max-height: 1024px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .carousel img {
    max-height: 1228px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .carousel img {
    max-height: 1640px;
  }
}

@media (min-width: 1280px) {
  .carousel img {
    max-height: 2048px;
  }
}
