#home {
  overflow: hidden;
}

.carousel-text {
  position: absolute;
}

@media only screen and (max-width: 480px) {
  .carousel-text {
    height: 75%;
    width: 65%;
    left: 15%;
    bottom: -12%;
  }

  .carousel h1 {
    font-size: 38px;
    margin-bottom: 0.5ch;
    font-weight: 600;
  }
  
  .carousel-text text {
    font-size: 14px;
  }

  .carousel button img {
    transform: translateY(2ch);
    height: 6ch;
  }

  #embelishment-div {
    position: absolute;
    height: 300px;
    width: 1000px;
    background-color: rgba(255, 255, 255, 0.501);
    transform: translate(-155px, 0px) rotate(45deg);
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .carousel-text {
    height: 75%;
    width: 50%;
    left: 15%;
    bottom: -20%;
  }

  .carousel h1 {
    font-size: 60px;
    margin-bottom: 1.2ch;
    font-weight: 600;
  }
  
  .carousel-text text {
    font-size: 20px;
  }

  .carousel button img {
    transform: translateY(2ch);
    height: 6ch;
  }

  #embelishment-div {
    position: absolute;
    height: 560px;
    width: 1500px;
    background-color: rgba(255, 255, 255, 0.501);
    transform: translate(-250px, 0px) rotate(45deg);
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .carousel-text {
    height: 75%;
    width: 50%;
    left: 15%;
    bottom: -20%;
  }

  .carousel h1 {
    font-size: 64px;
    margin-bottom: 1.2ch;
    font-weight: 600;
  }
  
  .carousel-text text {
    font-size: 24px;
  }

  .carousel button img {
    transform: translateY(2ch);
    height: 6ch;
  }

  #embelishment-div {
    position: absolute;
    height: 600px;
    width: 1500px;
    background-color: rgba(255, 255, 255, 0.501);
    transform: translate(-270px, 0px) rotate(45deg);
  }
}

@media only screen and (min-width: 1201px) {
  .carousel-text {
    height: 75%;
    width: 50%;
    left: 15%;
    bottom: -33%;
  }

  .carousel h1 {
    font-size: 90px;
    margin-bottom: 1.5ch;
    font-weight: 600;
  }
  
  .carousel-text text {
    font-size: 26px;
  }

  .carousel button img {
    transform: translateY(2ch);
    height: 6ch;
  }

  .carousel-div {
    height: 100vh;
  }
  
  #embelishment-div {
    position: absolute;
    height: 1000px;
    width: 2500px;
    background-color: rgba(255, 255, 255, 0.501);
    transform: translate(-180px, 450px) rotate(45deg);
  }
}