#home {
  overflow: hidden;
}

.carousel-text {
  position: absolute;
}

@media only screen and (max-width: 480px) {
  .carousel-text {
    height: 75%;
    width: 65%;
    left: 15%;
    bottom: -12%;
  }

  .carousel h1 {
    font-size: 38px;
    margin-bottom: 0.5ch;
    font-weight: 600;
  }

  .carousel-text text {
    font-size: 14px;
  }

  .carousel button img {
    transform: translateY(2ch);
    height: 6ch;
  }

  #embelishment-div {
    position: absolute;
    height: 300px;
    width: 1000px;
    background-color: rgba(255, 255, 255, 0.501);
    transform: translate(-155px, 0px) rotate(45deg);
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .carousel-text {
    height: 75%;
    width: 50%;
    left: 15%;
    bottom: -20%;
  }

  .carousel h1 {
    font-size: 60px;
    margin-bottom: 1.2ch;
    font-weight: 600;
  }

  .carousel-text text {
    font-size: 20px;
  }

  .carousel button img {
    transform: translateY(2ch);
    height: 6ch;
  }

  #embelishment-div {
    position: absolute;
    height: 560px;
    width: 1500px;
    background-color: rgba(255, 255, 255, 0.501);
    transform: translate(-250px, 0px) rotate(45deg);
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .carousel-text {
    height: 75%;
    width: 50%;
    left: 15%;
    bottom: -20%;
  }

 

  .carousel h1 {
    font-size: 64px;
    margin-bottom: 1.2ch;
    font-weight: 600;
  }

  .carousel-text text {
    font-size: 24px;
  }

  .carousel button img {
    transform: translateY(2ch);
    height: 6ch;
  }

  #embelishment-div {
    position: absolute;
    height: 600px;
    width: 1500px;
    background-color: rgba(255, 255, 255, 0.501);
    transform: translate(-270px, 0px) rotate(45deg);
  }
}

@media only screen and (min-width: 1201px) {
  .carousel-text {
    height: 75%;
    width: 50%;
    left: 8%;
    top: 34%;
  }

  .carousel-img {
    filter: brightness(0.9);
  }
  
  .carousel h1 {
    color: rgb(251, 245, 245);
    font-size: 100px;
    font-weight: 900;
    line-height: 1.5ch;
  }

  .carousel-text text {
    font-size: 26px;
  }

  .incra {
    width: 65%;
    margin-left: 28vh;
    margin-top: -7vh;
    animation: fadeIn 0.4s;
    opacity: 1;
  }

  .car {
    width: 40%;
    margin-top: 4vh;
    margin-left: 60vh;
    animation: fadeIn3 0.4s;
    opacity: 1;
  }

  .esg {
    width: 48%;
    margin-top: -3vh;
    margin-left: 45vh;
    animation: fadeIn2 0.4s;
    opacity: 1;
  }

  .incra-title #extra-text::after {
    color: var(--logo-orange);
    content: 'G';
    font-size: 150px;
    font-weight: 900;
  }
  
  .car-title #extra-text::after {
    color: var(--logo-orange);
    content: 'CAR';
    font-size: 160px;
    letter-spacing: -10px;
    font-weight: 900;
  }

  .esg-title #extra-text::after {
    color: var(--logo-orange);
    content: 'ESG';
    font-size: 170px;
    letter-spacing: -10px;
    font-weight: 900;
  }
  
  .incra-title {
    animation: animation 1s ease-in forwards;
    width: 30%;
  }

   .car-title{
    animation: animation 1s ease-in forwards; 
  }

  .esg-title {
    animation: animation 1s ease-in forwards;
  }


  @keyframes incra-title {
    0% {
      opacity: 0;
      transform: translateX(-200px) translateY(100px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(50px) translateY(50px);
    }
  }

  @keyframes car-title {
    0% {
      opacity: 0;
      transform: translateX(-200px) translateY(100px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(50px) translateY(50px);
    }
  }

  @keyframes esg-title {
    0% {
      opacity: 0;
      transform: translateX(-200px) translateY(100px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(50px) translateY(50px);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 30%;
    }
  }

  @keyframes fadeIn2 {
    from {
      opacity: 28%;
    }
  }

  @keyframes fadeIn3 {
    from {
      opacity: 29%;
    }
  }

  .carousel button img {
    transform: translateY(2ch);
    height: 9ch;
  }

  .carousel-div {
    height: 100vh;
  }

  
}