@media screen and (max-width: 480px) {
  #header {
    position: fixed;
    padding-top: 1ch;
    height: 18vh;
    justify-content: space-between;
    width: 100%;
    z-index: 99;
    background: linear-gradient(white, rgba(255, 255, 255, 0));
  }

  #header-imgs {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  #header #logo {
    height: 9vh;
  }

  #header #pushdown {
    background-color: white;
    border-radius: 5px;
    height: 7vh;
  }

  #header #pushdown:active {
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, .1);
  }

  #header-links {
    display: flex;
    margin: 0.6ch;
    justify-content: space-around;
  }

  #header-links a {
    font-size: 15px;
    padding-top: 0.8ch;
    line-height: 16px;
    ;
    margin: 0.5ch;
    color: #494949;
    
  }

  #header.headerActive {
    background: white;
  }
}


@media only screen and (min-width: 481px) and (max-width: 768px) {
  #header {
    position: fixed;
    padding-top: 1ch;
    height: 16vh;
    justify-content: space-between;
    width: 100%;
    z-index: 99;
    background: linear-gradient(white, rgba(255, 255, 255, 0));
  }

  #header-imgs {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  #header #logo {
    height: 9vh;
  }

  #header #pushdown {
    background-color: white;
    border-radius: 5px;
    height: 7vh;
  }

  #header #pushdown:active {
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, .1);
  }

  #header-links {
    display: flex;
    margin: 0.5ch;
    justify-content: space-around;
  }

  #header-links a {
    padding: 0.8ch 3ch;
    margin: 0.5ch;
    color: #494949;
    
  }

  #header.headerActive {
    background: white;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  #header {
    position: fixed;
    padding-top: 1ch;
    height: 16vh;
    justify-content: space-between;
    width: 100%;
    z-index: 99;
    background: linear-gradient(white, rgba(255, 255, 255, 0));
  }

  #header-imgs {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  #header #logo {
    height: 9vh;
  }

  #header #pushdown {
    border: 0.5px solid white;
    background-color: white;
    border-radius: 5px;
    height: 7vh;
  }

  #header #pushdown:active {
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, .1);
  }

  #header-links {
    display: flex;
    margin: 0.5ch;
    justify-content: space-around;
  }

  #header-links a {
    margin: 1.5ch;
    color: #494949;
    font-size: 18px;
  }

  #header.headerActive {
    background: white;
  }
}

@media only screen and (min-width: 1201px) {
  #header {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-top: 1ch;
    height: 16vh;
    justify-content: space-between;
    width: 100%;
    z-index: 99;
    background: linear-gradient(white, rgba(255, 255, 255, 0));
  }

  #header-imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  #header #logo {
    height: 17vh;
    margin-left: 5%;
  }

  #header #pushdown {
    background-color: white;
    border-radius: 5px;
    height: 7vh;
    margin-right: 100px;
  }

  #header #pushdown:active {
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, .1);
  }

  #header-links {
    display: flex;
    margin: 0.5ch;
    justify-content: space-around;
    font-weight: 600;
    /* background-color: red; */
  }

  #header-links a {
    font-size: 1.4em;
    color: #494949;
    /* background-color: aliceblue; */
  }

  #header.headerActive {
    height: 30vh;
    background: white;
  }
}