@media only screen and (max-width: 480px) {
  
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  
}

@media only screen and (min-width: 1201px) {
  .values-container {
    /* background-color: rgb(255, 255, 255); */
    width: 100%;
  }

  
  .values-container p{
    display: inline-block;
    text-align: left;
    font-size: 20.8px;
    width: 90%;
    padding-left: 4%;
  }
  
  .values-container a {
    text-decoration: underline;
    color: rgb(0, 0, 0);
  }
  
  .value-title {
    padding-top: 4%;
    padding-left: 3%;
    font-size: 40px;
    font-weight: 600;
    text-align: start;
    text-transform: uppercase;
  }
  
  .values-container h6 {
    color: rgb(105, 105, 105);
    padding-bottom: 1%;
    padding-left: 3%;
  }
  
  .value-container {
    padding: 6%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .value-card {
    width: 12%;
    margin: 3%;
  }
}
