@media only screen and (max-width: 480px) {
  .video-container {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    /* height: 700px; */
    margin: 0;
  }

  .video-container .video-background {
    background-color: #42c666;
    width: 87%;
    height: 100px;
    padding: 33%;
    border-radius: 5%;
    margin-left: 2%;
    margin-top: 6%;
  }

  .video-container iframe {
    position: absolute;
    width: 88%;
    height: 38%;
    margin-top: 9.5%;
    margin-left: 5%;
    border-radius: 4%;
  }

  .video-container .missão-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4%;
  }

  .video-container .missao-title {
    width: 100%;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 4vh;
    margin-left: 2vh;
    margin-bottom: 1vh;
  }

  .video-container .paragraph-title {
    width: 100%;
    font-size: 17px;
    width: 100%;
    padding: 2px;
    width: 80%;
    margin-left: 4vh;
  }

  .animation {
    animation: animation 1s ease-in forwards;
  }

  @keyframes animation {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .video-container {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    /* height: 700px; */
    margin: 0;
  }

  .video-container .video-background {
    background-color: #42c666;
    width: 80%;
    height: 55px;
    padding: 25%;
    border-radius: 5%;
    margin-left: 5%;
    margin-top: 6%;
  }

  .video-container iframe {
    position: absolute;
    width: 80%;
    height: 51%;
    margin-top: 8.5%;
    margin-left: 7%;
    border-radius: 4%;
  }

  .video-container .missão-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1%;
  }

  .video-container .missao-title {
    width: 100%;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 4vh;
    margin-left: 2vh;
    margin-bottom: 1vh;
  }

  .video-container .paragraph-title {
    width: 100%;
    font-size: 20px;
    width: 100%;
    padding: 2px;
    width: 80%;
    margin-left: 4vh;
  }

  .animation {
    animation: animation 1s ease-in forwards;
  }

  @keyframes animation {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}


@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .video-container {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    /* height: 700px; */
    margin: 0;
  }

  .video-container .video-background {
    background-color: #42c666;
    width: 80%;
    height: 55px;
    padding: 25%;
    border-radius: 5%;
    margin-left: 5%;
    margin-top: 6%;
  }

  .video-container iframe {
    position: absolute;
    width: 80%;
    height: 51%;
    margin-top: 8.5%;
    margin-left: 7%;
    border-radius: 4%;
  }

  .video-container .missão-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1%;
  }

  .video-container .missao-title {
    width: 100%;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 4vh;
    margin-left: 2vh;
    margin-bottom: 1vh;
  }

  .video-container .paragraph-title {
    width: 100%;
    font-size: 20px;
    width: 100%;
    padding: 2px;
    width: 80%;
    margin-left: 4vh;
  }

  .animation {
    animation: animation 1s ease-in forwards;
  }

  @keyframes animation {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

@media only screen and (min-width: 1201px) {
  .video-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    height: 700px;
    margin: 0;
  }

  .video-container .video-container-left {
    position: relative;
    width: 90%;
    /* background-color: #e6e6e6; */
  }

  .video-container .video-background {
    position: absolute;
    background-color: #42c666;
    right: 8%;
    top: 46%;
    transform: translate(0, -60%);
    border-radius: 4%;
    height: 28ch;
    width: 50ch;
  }
  
  .video-container iframe {
    position: absolute;
    right: 12%;
    top: 50%;
    transform: translate(0, -60%);
    border-radius: 4%;
    height: 28ch;
    width: 50ch;
  }

  .video-container .missão-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4%;
  }

  .video-container .missao-title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    margin-left: 8vh;
    margin-bottom: 1vh;
  }

  .video-container .paragraph-title {
    font-size: 25px;
    padding: 2px;
    margin-bottom: 4vh;
    margin-left: 15vh;
  }

  .animation {
    animation: animation 1s ease-in forwards;
  }

  @keyframes animation {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}